{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Mars Photos</h1>

<p>Showing {{ meta.count }} random Mars photos (changes every 12 hours)</p>

<div class="card-grid">
  {% for p in photos %}
    <figure class="card">
      {% if p.img_src %}
        <img src="{{ p.img_src }}" alt="Mars photo">
      {% else %}
        <img src="https://mars.nasa.gov/system/news_items/main_images/9442_PIA25681-FigureA-web.jpg" alt="Mars photo">
      {% endif %}
      <figcaption class="card-text">
        <strong>Description:</strong> {{ p.description|default:'No description available' }}
      </figcaption>
    </figure>
  {% empty %}
    <p>No photos found for this sol.</p>
  {% endfor %}
</div>
{% endblock %}
